*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-weight: normal;
    font-weight: initial;
    line-height: 1.5;
    font-family: "Rubik", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #6c7293;
    /* background-color: #191c24; */
}
.container{
    max-width: 80%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}
.invoice{
    background-color: #ffff;
    border-radius: 5px;
    color: #6c7293;
    margin-top: 2rem;
    .header{
        display: flex;
        justify-content: space-between;
        padding: 1rem 0;
        .name{
            margin: auto 0;
            padding-right: 1.5rem;
            font-size: 2rem;
            font-weight: 550;
            span{
                display: block;
                text-align: end;
            }
        }
    }
    .info{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        /* width: 100%; */
        span{
            margin: 0 auto;
        }
    }
    .customer{
        margin-top: 0.5rem;
        padding-bottom: 1rem;
        .left{
            display: flex;
            align-content: center;
            justify-content: space-between;
            max-width: 30%;
            margin-left: 1rem;
            span{
                display: block;
            }
            .body{
                max-width: 75%;
            }
        }
    }
    .invoice_detail{
        border-bottom: 2px dashed #B1ADD4;
        .tabel_responsive{
            margin: 1rem 0;
            padding: 0 auto;
        }
        .table{
            border-collapse: collapse;
            thead th{
                padding: 0.9375rem;
                border-top: 0;
                /* border-bottom-width: 1px; */
                font-weight: 500;
                color: #6c7293;
                text-align: center;
                border-bottom: 2px solid #6c7293;
                vertical-align: bottom;
            }
            td{
                vertical-align: middle;
                font-size: 0.875rem;
                line-height: 1;
                white-space: nowrap;
                padding: 0.9375rem;
            }
            tbody tr{
                color: #6c7293;
                text-align: center;
                border-top: 0;
                border-bottom-width: 1px;
                border-bottom: 1.5px solid #6c7293;
            }
        }
    }
}
.bottom_info{
    border-bottom: 2px dashed #B1ADD4;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    .left{
        .mb-2{
            margin-bottom: 0.5rem;
        }
        span{
            display: block;
        }
    }
    .right{
        display: flex;
        justify-content: space-between;
        width: 20%;
        span{
            display: block;
        }
    }
}
.text-center{
    text-align: center;
    padding: 1rem 0;
    span.title{
        font-size: 1.5rem;
        font-weight: 500;
    }
    span{
        display: block;
    }
}
